.drop-down-menu {
  position: absolute;
  z-index: 4096;
  background: #ccc;
  width: 100%;
  top: 103px;
  display: none;

  &__main {
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: flex-start;
    padding: 2rem 0;
  }

  &__image {
    display: none;
  }

  &__nav {
    // width: 100%;
    // max-width: 576px;
    display: flex;
  }

  &__group {
    flex: 1;

    display: flex;
    // justify-content: space-between;
    // flex-direction: column;
  }

  &__link {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    line-height: 2rem;
    padding-left: 4rem;
    font-weight: bold;
    color: #707070;

    transition: color 0.3s ease-in-out;

    &:hover {
      color: #aeabab;
    }
    &--current {
      color: #000;
    }
  }

  @media (min-width: 664px) {
    & {
      display: initial;
    }
  }

  // @media (min-width: 768px) {
  //   &__nav {
  //     max-width: 698px;
  //   }
  // }

  @media (min-width: 946px) {
    &__image {
      display: initial;
    }
  }
}
